<!DOCTYPE html>
<html lang="ar" dir=rtl>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>المفتاح الالكتروني</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: DevFolio - v4.0.1
  * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.ejs">المفتاح الالكتروني</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">الصفحة الرئيسية</a></li>
          <li><a class="nav-link scrollto" href="#about">معلومات عنا</a></li>
          <li><a class="nav-link scrollto" href="#services">خدمات</a></li>
          
          
          <li><a class="nav-link scrollto" href="#contact">الاتصال</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url(/img/hero-bg.webp)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">المفتاح الالكتروني المتنقل</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="خدمة24 ساعة, اصلاح جميع انواع السويتشات, استخراج وتوليف المفاتيح  بدل فاقد
            , تصليح أقفال السيارات ,برمجة المفاتيح    "></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="/img/testimonial-2.jpeg" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">المفتاح الالكتروني المتنقل  جدة    </span> </p>
                        <p><span class="title-s">اتصل نصلك أين ما تكون </span> </p>
                        <p><span class="title-s">ايميل : </span> <span>mohazea12@gmail.com</span></p>
                        <p><span class="title-s">هاتف : </span> <span> 0550022856</span></p>
                      </div>
                    </div>
                  </div>
                  <br><br>
                  <div class="skill-mf">
                    <p class="title-s">المفتاح الالكتروني المتنقل  لنسخ وبرمجه مفاتيح وريموتات السيارات يوجد لدينا افضل الخدمات  واسعارنا باقل التكلفة  في المملكة  خدماتنا تتضمن جودة المفتاح ودقتها ونوعيتها وآلية تركيبها و الذين يقومون على برمجة المفتاح مجموعه متخصصه في البرمجيات  و فنيين  مؤهل ومدرب باحترافيه للعمل على برمجة المفتاح وكذألك نقوم بمتابعة العميل  وضمان العمل كا خدمة ما بعد البيع  او البرمجة 
                      ضيعت او فقدت  مفتاح سيارة … اغلقت باب السيارة و المفتاح بداخلها.. كفر المفتاح انكسر او تلف  .؟؟ 
                      نحن نقدم لك ببرمجة المفاتيح  و توليف  مفاتيح و  وبرمجة ريموتات السيارات المشفرة  بأحدث الاجهزة ه الأصلية و فتح الابواب المغلقة  بدون كسر ولا خدوش او أي ضرر
                      </p>
                    
                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        حولنا
                      </h5>
                    </div>
                    <p class="lead">
                      المفتاح  الالكتروني المتنقل لنسخ وبرمجة المفاتيح و ريموتات السيارات
محلات تصليح مفاتيح السيارات محلات بيع ريموتات السيارات محل فتح السيارات محل برمجة مفاتيح السيارات محل برمجة مفاتيح  , اقرب محل نسخ مفاتيح محل تصليح مفاتيح محل تفصيل مفاتيح فتح سيارات، فتح ابواب السيارات، فتح قفل السيارة، خدمة فتح السيارات، شركة فتح السيارات المقفلة
برمجة المفاتيح المشفرة
*برمجة مفاتيح جميع انواع سيارات الفورد Ford *برمجة مفاتيح جميع انواع سيارات الهونداي والكيا KIA & HYUNDAI * برمجة مفاتيح جميع انواع سيارات الهوندا Honda *برمجة مفاتيح جميع انواع سيارات نسيان Nissan
                    </p>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                الخدمات
              </h3>
              <p class="subtitle-a">
               خدمة24 ساعة, خدماتنا مميزة اتقان, سرعة, ضمان نأتيكم حيث انتم .

              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">تصليح اقفال السيارات</h2>
                <p class="s-description text-center">
                  نسخ المفاتيح و برمجة المفاتيح المشفرة و مفاتيح المنزل , صيانة اقفال و فتح خزنة و كل ما يتعلق بالمفاتيح و برمجة الريموتات , فتح جميع انواع السيارات ، استخراج وتوليف المفاتيح المفقودة للسيارات 
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">اصلاح جميع انواع السويتشات ( السوتيش )</h2>
                <p class="s-description text-center">
                  اصلاح جميع انواع السويتشات مازدا 3 &6 &Cx9 & CX3 وجميع انواع سيارات المازدا *برمجة مفاتيح ال دوج DODEG تشارجر charger كرايسلر Chrysler
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">استخراج وتوليف المفاتيح  بدل فاقد</h2>
                <p class="s-description text-center">
                  برمجة مفاتيح السيارات المشفرة والبصمة بأنواعها <br> *تويوتا TOYOTA *لكزز Laux , نسخ المفاتيح الإلكترونية تصليح اقفال السيارات
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Counter Section ======= -->
    <div class="section-counter paralax-mf bg-image" style="background-image: url(/img/counters-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container position-relative">
        <div class="row">
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-check"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="counter purecounter"></p>
                <p>%</p>
                <span class="h1">خدمة 24 ساعة</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
              </div>
              <div class="counter-num">
                
                <p data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="counter purecounter"> </p>
                <p>%</p>
                <span class="h1">اتقان</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-people"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="counter purecounter"></p>
                <p>%</p>
                <span class="h1">سرعة</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-award"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="counter purecounter"></p>
                <p>%</p>
                <span class="h1">ضمان</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Counter Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                المفتاح الالكتروني المتنقل
              </h3>
              
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              <a href="/img/work-1.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="/img/work-1.png" alt="" class="img-fluid">
                </div>
              </a>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="/img/work-2.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="/img/work-2.png" alt="" class="img-fluid">
                </div>
              </a>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="/img/work-3.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="/img/work-3.png" alt="" class="img-fluid">
                </div>
              </a>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="/img/work-4.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="/img/work-4.png" alt="" class="img-fluid">
                </div>
              </a>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="/img/work-5.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="/img/work-5.png" alt="" class="img-fluid">
                </div>
              </a>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="/img/work-6.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="/img/work-6.png" alt="" class="img-fluid">
                </div>
              </a>
              
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Portfolio Section -->

    

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                العناوين
              </h3>
              <p class="subtitle-a">
                محل مفاتيح جدة ( المفتاح الالكتروني المتنقل  )
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <img src="/img/post-1.png" alt="" class="img-fluid">
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">المفتاح الاكتروني</h6>
                  </div>
                </div>
                <h3 class="card-title">محل نسخ مفاتيح المفتاح الالكتروني المتنقل لبرمجة المفاتيح</h3>
                <p class="card-description">
                  محل نسخ مفاتيح المفتاح الالكتروني المتنقل لبرمجة المفاتيح 
 حي الشاطئ  حي ابحر الجنوبية حي ابحر الشمالية  حي المحمدية  حي المرجان  حي البساتين حي النزهة  حي النعيم حي البوادي , حي الخالدية ,حي الفيصلية ، حي السامر ’ حي الحمدانية ، حي الربوة ’ حي المروة ، حي السلام   حي الاندلس حي الحمراء ، حي الروضة ,حي الزهراء , حي الكورنيش الشمالي  حي بريمان حي الصفا حي النهضة
أحياء وسط مدينة جدة : حي البغدادية الشرقية  حي البغدادية الغربية حي الرحاب  حي الرويس حي العزيزية  حي العامرية  حي العين العزيزية حي الكندرة  حي الصحيفة حي المطار القديم  حي بني مالك  حي الشرفية
أحياء جنوب مدينة جدة : حي البلد  حي السبيل حي الهنداوية  حي التوفيق  حي الو زيريه   حي غليل حي الثعالبة  حي المحجر حي الخاسكية  مخطط العزيزية  حي مدائن ال فهد   حي السالمية الشرقية   حي النزلة اليمانية  حي النزلة الشرقية   حي المدينة الصناعية   حي الاسكان الجنوبي  حي القريات  حي مدينة السلطان   حي الثغر  حي بترومين  حي قويزة  حي المنتزهات1  حي المنتزهات 2 حي عبيد حي حارة البحر حي حارة الشام حي حارة المظلوم حي حارة اليمن
عسفان الرحيلي الحمدانية ابحر المرجان الزهراء البساتين النهضة الشاطئ السلامة الروضة البوادي المروة الصفاء السامر الواحه الشروق مريخ الريان الرحمانية النزهة الرحاب الجامعة الروابي المنتزهات العدل الأمير فواز الشمالي الأمير فواز الجنوبي  الخمرة السنابل الفيصيله مشرفه العزيزية المنار طيبه الفلاح الصالحية البشاير مخطط الرياض مخطط الزهور مخطط العمرية مخطط  الصالة  الشمالية مخطط الخروج مخطط الوفاء مخطط الموسى
                </p>
              </div>
              
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <img src="/img/post-2.png" alt="" class="img-fluid">
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">المفتاح الاكتروني</h6>
                  </div>
                </div>
                <h3 class="card-title">ناسخ مفاتيح جدة مع الريموتات</h3>
                <p class="card-description">
                  مهندس برمجة  ريموتات لكزس وتويوتا جدة  , محل مفاتيح ابواب جدة
برمجة مفاتيح سيارات تويوتا جدة مبرمج سيارات جيلي جدة  محل وورشة تنقل فتح أبواب شقق ومحلات تجارية وبرمجة سيارات في جدة  مهندس فتح ابواب سيارات جدة  محل نسخ مفاتيح المرجان جدة  محل نسخ مفاتيح ابحر جدة اسرع محل برمجة مفاتيح سيارات في جدة  اصلاح سويتش وعمل مفتاح بدل فاقد للسيارات القديمة في جدة 
محل مفاتيح جده نسخ برمجه فك سيارات وفك شقق , محل مفاتيح لبرمجه المفاتيح المفقودة وعمل اسبير  ( البديل )  مفاتيح مشفره وبرمجه جدة  محل نسخ مفاتيح النهضة جدة  محل نسخ مفاتيح البساتين جدة 
سيارات تويوتا Toyota
سيارات هيونداي Hyundai
سيارات  كيا kia

اقرب محل  نسخ مفاتيح
محل ناسخ للمفاتيح  
جميع مفاتيح سيارات تويوتا البصمة والعادي  فني مفاتيح جدة  يتوفر لدينا مفتاح الكامري البصمة لجميع الموديلات مهندس فتح ابواب   يوجد لدينا مفاتيح اللاند كروزر جميع الموديلات
يتوفر لدينا جميع مفاتيح سيارات البرادو جميع الموديلات

فني برمجة بصمة 
ورشة متنقلة لبرمجة مفاتيح و ريموتات السيارات  ون
              
<br><br><br><br><br><br><br><br>
</p>
              </div>
              
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <img src="/img/post-3.png" alt="" class="img-fluid">
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">المفتاح الاكتروني</h6>
                  </div>
                </div>
                <h3 class="card-title">محل نسخ مفاتيح الرحيلي جدة</h3>
                <p class="card-description">
                  محل مفاتيح جده المكرونة جدة  , برمجة مفاتيح السيارات المشفرة والبصمة جدة بأنواعها مهندس اصلاح بصمة السيارة  الغاء المايكي لسيارات الفورد  محل نسخ مفاتيح  جدة المفتاح الالكتروني المتنقل   لبرمجه جميع انواع السيارات في جدة وضواحيها  
مخطط الحناكي مخطط المشاعر مخطط بحرة حي التيسير
حي الوادي حي الورود حي النسيم حي بريمان حي الياقوت حي الوزيرية
الهدى النزلة اليمانية حي الثغر  الجوهرة الرحمة الرويس الزمرد الرويس ابرق الرغامة الفيحاء السبيل السروات السرورية القرنية الشراع الشفاء الصحيفة الصواري الضاحية الفردوس الفروسية القوزين الكرامة اللؤلؤ المحمدية المسرة المحجر المليساء النعيم النخيل
                
<br><br><br><br><br><br><br><br><br><br><br><br><br>
</p>
                
              </div>
              
            </div>
          </div>
          
        </div>
      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">

            <div class="col-lg-6 col-md-12 mb-4 mb-md-0"></div>
             <h5 class="text-white">هاتف :  0550022856</h5>
               <h5 class="text-white">ايميل :  mohazea12@gmail.com</h5>
              
    
            </div>
            <div class="credits">
             
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/typed.js/typed.min.js"></script>
  


  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>